/* reset css */
    /* http://meyerweb.com/eric/tools/css/reset/ 
      v2.0 | 20110126
      License: none (public domain)
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
/* finish reset */

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf')
}

#root {
  font-family: 'Roboto';
}

.covid-banner > a {
  color: rgb(135, 135, 135);
}

.covid-banner {
  background-color: rgb(26, 26, 26);
  width: 100%;
  padding: 2.5% 0 2.5% 0;
  text-align: center;
}

.top-third {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 2% 5% 5% 0;
}

.logo {
  background-image: url(./images/just-logo-nobg.jpg);
  height: 3.5%;
  width: 3.5%;
  margin: 0 0 0 4.5%;
}

.user > a {
  color: white;
  text-decoration: none;
}

.user {
  display: flex;
  justify-content: space-between;
  width: 30%
}

.language {
  width: 8%;
  height: 63%;
  margin-top: 4%;
}

.language:hover, .user-int:hover {
  cursor: pointer;
}

.cta {
  margin-top: 5%;
}
.user-int {
  background-color: white;
  width: 30%;
  height: 120%;
  border-radius: 50%/90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu {
  width: 20%;
  height: 30%;
}
.userIcon {
  width: 40%;
}

.search-links {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 0 8% 0
}
.search-links > p {
  margin: 0 1% 0 1%;
}
.search-links > p:hover {
  cursor: pointer;
}
.link-selected {
  text-decoration: underline;
}

.banner {
  padding: 60% 0 0 0;
  background-image: url('./images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-container {
  padding: 0 0 3.5% 0;
  background-color: black;
}

.banner-container > p {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 3.5% 0 0 0;
}

.search-bar {
  width: 90%;
  background-color: white;
  margin: 0 0 0 5%;
  border-radius: 15%/180%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location, .check-in, .check-out, .guests {
  margin: 3% 8% 3% 8%;
  border-radius: 2%/90%;
  border: 1px solid black;
}

.aapi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5% 5% 0 5%;
}

.aapi-notice > h2 {
  font-size: 25px;
  font-weight: 900;
}

.aapi-notice > button {
  width: 25%;
  height: 25%;
  margin: 5% 0 0 0;
  background-color: white;
  border: 1px solid black;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  border-radius: 10%/20%;
}

.aapi-paragraph > p {
  font-size: 18px;
  line-height: 120%;
}