/* reset css */
    /* http://meyerweb.com/eric/tools/css/reset/ 
      v2.0 | 20110126
      License: none (public domain)
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
/* finish reset */

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf')
}

#root {
  font-family: 'Roboto';
}

.covid-banner > a {
  color: rgb(135, 135, 135);
}

.covid-banner {
  background-color: rgb(26, 26, 26);
  width: 100%;
  padding: 2.5% 0 2.5% 0;
  text-align: center;
}

.top-third {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 2% 5% 20% 0;
}

.logo {
  background-image: url(./images/just-logo-nobg.jpg);
  height: 3.5%;
  width: 3.5%;
  margin: 0 0 0 4.5%;
}

.user > a {
  color: white;
  text-decoration: none;
}
.user {
  display: flex;
  justify-content: space-between;
  width: 30%
}

.language {
  width: 8%;
  height: 63%;
  margin-top: 4%;
}

.language:hover, .user-int:hover {
  cursor: pointer;
}

.cta {
  margin-top: 5%;
}
.user-int {
  background-color: white;
  width: 30%;
  height: 120%;
  border-radius: 50%/90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu {
  width: 20%;
  height: 30%;
}
.userIcon {
  width: 40%;
}
